.navbar-container {
    // border: 2px solid red;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    position: relative;
}

.navbar-title {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.navbar-subcontainer {
    // border: 2px solid green;
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar-icon-container {
    // border: 2px solid green;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon {
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.navbar-navbarmenu-container {
    // border: 2px solid red;
    // box-sizing: border-box;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 100;
}

.navbar-navbaroptions-container {
    border: 2px solid green;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    width: 100%;
    height: 50px;
    background-color: #242424;
}

.navbaroptions-container {
    // border: 2px solid purple;
    // box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.navbaroptions-subcontainer {
    border: 2px solid yellow;
    box-sizing: border-box;
}

.navbarmenu-container {
    border: 2px solid white;
    // box-sizing: border-box;
    width: 200px;
    max-height: 300px;
    background-color: #242424;
    border-radius: 0 0 0 15px;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
}

.navbarmenu-title {
    font-weight: 600;
    text-decoration: underline;
    padding: 5px 0 10px 0;
}

.navbarmenu-item-container {
    height: 100%;
    overflow-y: scroll;
}

.navbarmenu-item {
    padding-bottom: 10px;
    user-select: none;
    &:hover {
        cursor: pointer;
        color: rgb(147, 235, 137);
    }
}